<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>189901509537-nv9qo23ibrm822ld1i52a9m7k7s14pka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.189901509537-nv9qo23ibrm822ld1i52a9m7k7s14pka</string>
	<key>API_KEY</key>
	<string>AIzaSyCfhVdH9bRAju6CCtIFjO3AY5MEXHgd1ag</string>
	<key>GCM_SENDER_ID</key>
	<string>189901509537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myexpenses</string>
	<key>PROJECT_ID</key>
	<string>expensesxd-manager</string>
	<key>STORAGE_BUCKET</key>
	<string>expensesxd-manager.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189901509537:ios:e27e50160d79a47fa071e0</string>
</dict>
</plist>